
@page  "/Learning/Index"

<h3>Index</h3>


<a href="/learning/learn1">learn1</a><br />

<a href="/learning/learn2">learn2</a><br />

<a href="/learning/learn3">ToDo</a><br />

<a href="/learning/learn4">Basket</a><br />

<a href="/learning/learn5">components</a><br />

<a href="/learning/LifeStyle">LifeStyle</a><br />

@code {

}
