
@page "/Learning/Learn5"
<h3>کامپوننت ها با پارامتر ورودی</h3>

<PersionDate></PersionDate>

<ConvertDolarTorial2></ConvertDolarTorial2>

<ConvertDolarTorial></ConvertDolarTorial>

<ConvertDolarTorial2 rial="30"></ConvertDolarTorial2>

<ConvertDolarTorial2 dolar="270000"></ConvertDolarTorial2>

<ConvertDolarTorial2 rial="30" dolar="270000"></ConvertDolarTorial2>

<h3>کامپوننت ها با پارامتر ورودی و خروجی</h3>
@*زمانی که از طریق کامپوننت دکمه و تکست باکس ها و غیره خودمان را داشته باشیم زمان تغییر یک ویژگی از انها مثل ویژگی دکمه از طریق بوت استرپ کافیست فقط داخل یکجا را تغیر دهیم *@

<h3>Event bobeling  </h3>

<MtxButton></MtxButton>
<br />
<MtxButton caption="click me" OnMyclick="(e)=>myclick(e)"></MtxButton>

@if (rial > 0)
{
   @: @rial @Bubling


}


@code {

    public long rial { get; set; }
    public string Bubling { get; set; }
    public void myclick(long Rial)
    {
        rial = Rial;
        Bubling = "Hi I AM A EVENT ";
    }

}
